.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;

  @media screen and (max-width: 815px){
    padding: 30px 50px;
  }
}

.hero-img {
  width: 700px;
  @media screen and (max-width: 1150px) {
    width: 500px;
  }
  @media screen and (max-width: 950px) {
    width: 250px;
  }
}

.hero-left {
  width: 30%;

  @media screen and (max-width: 1150px){
    width: 50%;
  }
}

.hero-heading {
  font-family: Montserrat, serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
  color: $black;

  @media screen and (max-width: 1150px){
    font-size: 40px;
  }

  @media screen and (max-width: 980px){
    font-size: 25px;
  }

}

.hero-text {
  font-family: Hind, serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: $black;
  margin: 30px 0;

  @media screen and (max-width: 815px){
    font-size: 11px;
  }

}

@media screen and (max-width: 550px) {
  .hero-img {
    display: none;
  }
  .hero-left {
    text-align: center;
  }
  .services-header-text {
    display: none;
  }
  .services-header {
    justify-content: center;
  }
}