.bullet-circle {
  font-family: "Montserrat", serif;
  background: $blue;
  border-radius: 100px;
  color: $white;
  font-size: 14px;
  padding: 6px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}