.services-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 150px;

	@media screen and (max-width: 1150px) {
		flex-direction: column;
	}
}

.service-card {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin: 25px;
	background: #ffffff;
	box-shadow: 0 4px 21px rgba(0, 0, 0, 0.25);
	padding: 30px;
	border-radius: 20px;
	transition: 0.8s ease-in-out;

	&:hover {
		transform: scale(1.3);
		transition: 0.8s ease-in-out;
	}
}

.service-card-heading {
	font-family: Montserrat, serif;
	padding: 10px;
	font-weight: 600;
	font-size: 18px;
	color: $black;
}

.service-card-text {
	font-family: Hind, serif;
	font-weight: normal;
	font-size: 15px;
	color: $black;
	text-align: center;
}
