.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  margin: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 21px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  height: 580px;
}

.recipe-image {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.recipe-image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 310px;
  object-fit: fill;
}

.recipe-information {
  padding: 20px;
}

.recipe-card-heading {
  font-family: Montserrat, serif;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
  color: $black;
}

.recipe-nutrients {
  padding: 10px 0;
}

.recipe-nutrient {
  font-family: Hind, serif;
  font-weight: normal;
  font-size: 17px;
  color: $black;
}

.recipe-card-text {
  font-family: Hind, serif;
  font-weight: normal;
  font-size: 15px;
  color: $black;
  text-align: center;
}

.supplement-link {
  font-family: Hind, serif;
  font-weight: normal;
  font-size: 18px;
  color: $blue;
  text-decoration: none;
  padding-top: 10px;
}