.sexy_data {
	margin: auto;
	width: 95%;
	padding: 10px;
}

.sexy_data h2 {
	margin: 1rem;
	font-size: 40px;
}

.sexy_data_cards {
	padding: 1rem;
	background-color: whitesmoke;
	display: flex;
}

.sexy_data_cards h3 {
	font-size: 25px;
	margin: 1rem;
}

.sexy_data_cards h4 {
	margin: 1rem;
	font-size: 20px;
	color: #212121;
	font-weight: normal;
}

.sexy_data_cards h1 {
	justify-content: center;
	text-align: center;
	margin: 1rem;
	font-size: 50px;
}

.sexy_data_card {
	margin: 10px;
	padding: 10px;
	background-color: lavender;
	border-radius: 10px;
	width: 100%;
}
