.supplement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 50px 150px;
}

.path {
  font-family: Montserrat, serif;
  font-weight: normal;
  font-size: 20px;
  color: $black;
  text-decoration: none;
}

.path-slug {
  color: $grey;
}

.supplement-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.supplement-information {
  width: 100%;
}

.vertical-line {
  content: '';
  color: $black;
  height: 550px;
  margin: 40px;
  border-left: 1px solid $grey;
}

.supplement-title {
  font-family: Montserrat, serif;
  font-weight: 600;
  font-size: 80px;
  color: $black;
  text-align: end;
}

.supplement-img {
  height: 500px;
}

.supplement-description {
  font-family: Hind, serif;
  font-weight: normal;
  font-size: 17px;
  color: $grey;
  text-align: end;
  padding: 10px;
}

@media screen and (max-width: 1200px){
  .supplement-img {
    height: 300px;
  }
  .supplement-title {
    font-size: 50px;
  }
  .supplement-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 930px){
  .path {
    font-size: 15px;
  }
  .supplement-img {
    height: 200px;
  }
  .vertical-line {
    height: 350px;
  }
}

@media screen and (max-width: 770px) {
  .supplement {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 570px) {
  .path {
    text-align: center;
    width: 100%;
  }
  .supplement-details {
    flex-direction: column;
    padding: 30px 0;
  }
  .vertical-line {
    display: none;
  }
  .supplement-title, .supplement-description {
    text-align: center;
  }
}