// font
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// colors

$blue: #7c9df3;
$light-blue: rgba(124, 157, 243, 0.3);
$black: #000;
$white: #fff;
$grey: rgba(178, 152, 152, 1);

// global styles

* {
	font-family: Hind;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import './partials/all';
@import './Home/all';
@import './Supplements/all';
@import './Recipes/all';
@import './SexyData/all';
@import './About/all';
@import './Workouts/all';
